@model OnlineStore.Models.ReceivingPaymentForUser

@{
    ViewBag.Title = "GenerateAddress";
}

<div class="form-group">
    <span>Your bitcoin address</span>
    <br />
    @Html.DisplayNameFor(m=>m.UserAddress)
    @Html.DisplayTextFor(m=>m.UserAddress)
</div>

<div class="form-group">
    <span>The ammount for paying is @Model.ammountToBePaidBitcoin </span>
    <br />
    <span></span>
    @Html.DisplayNameFor(m => m.AddressForReceiving)
    @Html.DisplayTextFor(m=>m.AddressForReceiving)
    <br />
    <span>After 3 block confirmations (aproximately 30 minutes) your order will be shipped</span>
</div>


<div class="form-control" >
    <span>You can check the status of your transaction here</span>
    <br />
    
    @Html.ActionLink("StatusAsync", "StatusAsync", new { address=Model.AddressForReceiving})
</div>