@model OnlineStore.Models.ReceivingPaymentForUser

@{
    ViewBag.Title = "GenerateAddress";
}

<div class="form-group">
    <span>Your bitcoin address</span>
    <br />
    @Html.DisplayNameFor(m=>m.UserAddress)
    @Html.DisplayTextFor(m=>m.UserAddress)
</div>

<div class="form-group">
    <span>The ammount for paying is @Model.ammountToBePaidBitcoin bitcoin</span>
    <br />
    <span>Sent bitcoin to the address BELOW</span>
       
    @Html.DisplayTextFor(m=>m.AddressForReceiving)
    <br />
    <span>After 3 block confirmations (aproximately 30 minutes) your order will be shipped</span>
</div>



    <span>You can check the status of your transaction here</span>
    <br />
    
    @Html.ActionLink("Status", "StatusAsync", new { address=Model.AddressForReceiving},new {@class="btn btn-default" })
