@model OnlineStore.Models.UserBitcoinAdress
@{
    ViewBag.Title = "Pay";
}

@using (Html.BeginForm("GenerateAddressAsync", "Payment"))
{

    <span>Enter your bitcoin address to proceed</span>
    @Html.LabelFor(m => m.UserAddress);
    @Html.TextBoxFor(m => m.UserAddress,new { @class="form-control"});
    @Html.ValidationMessageFor(m=>m.UserAddress)

    @Html.HiddenFor(m => m.ShoppingCartId);
    @Html.HiddenFor(m => m.UserId);
    <button id="btn-continue" type="submit" class="btn-group">Continue</button>

}

