@model OnlineStore.Models.UserBitcoinAdress
@{
    ViewBag.Title = "Pay";
}

@Html.BeginForm("GenerateAddress", "Payment")
{
<div>
    <span>Enter your bitcoin address to proceed</span>
    @Html.LabelFor(m => m.UserAddress);
    @Html.TextBoxFor(m => m.UserAddress);
</div>

<div>
    <span>Enter your ID</span>
    @Html.LabelFor(m => m.UserId);
    @Html.TextBoxFor(m => m.UserId);
</div>

<div>
    <button id="btn-continue" "submit" class="btn-group">Continue</button>
</div>
}
}
